<%- include('header.ejs') %>

<%- include('message') %>

<h4 class="text-center mt-3">Delete item</h4>

<form action="/items/itemDelete/<%= id %>" method="post" class="text-center mb-3">
    <p>Are you sure you want to delete?</p>
    <input type="submit" class="btn btn-danger" value="Delete item">
    <a href="/items" class="btn btn-secondary">Back...</a>
</form>

<%- include('footer') %>
