<%- include('header.ejs') %>

<%- include('message') %>

<h4 class="text-center mt-3">Return rented item</h4>

<form action="/rentals/rentalDelete/<%= id %>" method="post" class="text-center mb-3">
    <p>Are you sure you want to return this item?</p>
    <input type="submit" class="btn btn-danger" value="Return item">
    <a href="/rentals" class="btn btn-secondary">Back...</a>
</form>

<%- include('footer') %>